{{ template "chart.header" . }}
# metrics-platform module
<!-- BRIEF -->
This module is responsible for deployment of [metrics-server](https://github.com/kubernetes-sigs/metrics-server/) in the cluster

Depends on modules:
- no dependencies
{{ template "chart.valuesSectionHtml" . }}