apiVersion: v0
kind: ImagesLock
metadata:
  generatedBy: Distribution Tooling for Helm
  generatedAt: "2024-07-01T14:40:10.212083321Z"
chart:
  name: k8s-platform-addon-operator
  version: 0.0.1
  appVersion: ""
