{{ template "chart.header" . }}
<!-- BRIEF -->
This module is responsible for deployment of [opentelemetry-operator](https://opentelemetry.io/docs) in the cluster.
To be able to manage automatic instrumentation, the Operator needs to be configured to know what pods to instrument and which automatic instrumentation to use for those pods. This is done by the [instrumentation CRD](https://opentelemetry.io/docs/platforms/kubernetes/operator/automatic/)


Depends on modules:
- `cert-platform` needed for opentelemetry-operator because it uses Kubernetes admission webhooks, and webhooks require TLS certificates.
- `monitoring-platform` which contains Alloy collector and metrics/traces backends.

Used helm-charts:
- `opentelemetry-operator`

Provides:
- `opentelemetry-operator` deployment


{{ template "chart.valuesSectionHtml" . }}