{{ template "chart.header" . }}

`minio-platform` module is responsible for deployment of [MinIO](https://min.io/) in the cluster. Most common use case for this is when off site S3 backend such as AWS S3 is not available.

Depends on modules:
- [vault-platform](https://stash.qvantel.net/projects/CP/repos/k8s-platform-addon-operator/browse/modules/140-vault-platform/README.md) for backing up MinIO root credentials to versioned KV2 secrets 

Provides:
- Local object storage backend ( S3 )
- Default users:
  - platform-minio-root ( for admin actions )
  - platform-minio-readwrite ( for interacting with the MinIO API)
- Default buckets:
  - cassandra-backup
  - loki-logs
  - postgres-backup
  - mariadb-backup
- MinIO Console with advanced metrics dashboard
  - Console available at minio-console.platform.svc
- MinIO root credentials are stored to Vault, can be retrieved from there if password is lost

Configured profiles:
- dev
  - 1 standalone MinIO cluster instead of 3 in distributed mode

{{ template "chart.valuesSectionHtml" . }}

## NOTE 
#### Cassandra, MariaDB and Postgres modules make their own MinIO secrets when those modules are enabled. No need to configure additional credentials for them in this module.

## Example usage of this MinIO in other modules:
CASSANDRA

```
kasopePlatform:
  clusters:
    cluster:
      enabled: true
      spec:
        cassandra:
          serverVersion: "4.1.8"
          serverImage: "platform.artifactory.qvantel.net/k8s-platform-1-2-0/k8ssandra/cass-management-api:4.1.8-ubi8"
          config:
            cassandraYaml:
              num_tokens: 16
        medusa:
          storageProperties:
            storageProvider: s3_compatible
            bucketName: cassandra-backup
            prefix: cluster
            storageSecretRef:
              name: platform-minio-medusa ## This secret from kasope-platform module
            host: minio-platform.platform.svc.cluster.local
            port: 9000
            secure: false
```

LOKI

```
lokiPlatform:
  loki:
    objectStorageSecret:
      create: false
      secretName: "platform-minio-readwrite"
      userKey: "readwriteUser"
      secretKey: "readwritePassword"
    loki:
      storage:
        s3:
          s3: http://${OBJECT_STORAGE_USER}:${OBJECT_STORAGE_SECRET}@minio-platform.platform.svc.cluster.local:9000/loki-logs
          endpoint: http://minio-platform.platform.svc.cluster.local:9000
          s3ForcePathStyle: true
        bucketNames:
          chunks: loki-logs
```


MARIADB

```
mariadbOperatorPlatform:
  clusters:
    mariadb:
      spec:
        backup:
          bucket: mariadb-backup
          endpoint: minio-platform.platform.svc.cluster.local:9000
          secretName: platform-minio-readwrite-mariadb ## This secret from mariadb-operator-platform module
          secretUserKey: readwriteUser
          secretKey: readwritePassword
          scheduledBackup: "0 0 * * *"
          retention: 72h
```

POSTGRES FROM GLUE MODULE

```
qvantelGlue:
  dbs:
    postgres:
      qvt-postgredb:
        cluster:
          spec:
            storage:
              size: 25Gi
          barmanObjectStore:
            spec:
              configuration:
                destinationPath: "s3://postgres-backup/"
                endpointURL: http://minio-platform.platform.svc.cluster.local:9000
                wal:
                  encryption: null ## as MinIO does not provide SSE capabilities by default
                s3Credentials:
                  inheritFromIAMRole: false
                  accessKeyId:
                    name: platform-minio-readwrite-postgres ## This secret from cnpg-postgres-platform module
                    key: readwriteUser
                  secretAccessKey:
                    name: platform-minio-readwrite-postgres ## This secret from cnpg-postgres-platform module
                    key: readwritePassword
```


