{{ template "chart.header" . }}

This module is responsible for deployment of [cert-manager](https://cert-manager.io/docs/) in the cluster and configuration of required platform certificates

Depends on modules:
- no dependencies

Used helm-charts:
- cert-manager : v1.12.13


# Qvantel AWS Usage

When runnig in Qvantel Managed AWS environments this module is capable to automatically provision LetsEncrypt certificates for Qvantel domains `*.qvantel.systems` or `*.qvantel.solutions`. 
Respective issuers and certificates should be enabled in the configuration. See available configuration options below.



{{ template "chart.valuesSectionHtml" . }}