{{ template "chart.header" . }}

<!-- BRIEF -->
`kasope-platform` module is responsible for deployment of [K8ssandra Operator](https://docs.k8ssandra.io/components/k8ssandra-operator/) in the cluster.

Dependencies:
- Kubernetes version 1.26+
- [cert-manager](https://stash.qvantel.net/projects/CP/repos/k8s-platform-addon-operator/browse/modules/101-cert-platform/README.md) for K8ssandra Operator Webhook server cert

Provides:
- K8ssandra Operator for multi-cluster support
- Cass Operator for Cassandra cluster management
- Automated secret creation for connection to Platform MinIO

{{ template "chart.valuesSectionHtml" . }}