{{ template "chart.header" . }}

`kasope-platform` module is responsible for deployment of [K8ssandra Operator](https://docs.k8ssandra.io/components/k8ssandra-operator/) in the cluster.

Dependencies:
- Kubernetes version 1.26+
- [cert-manager](https://stash.qvantel.net/projects/CP/repos/k8s-platform-addon-operator/browse/modules/101-cert-platform/README.md) for K8ssandra Operator Webhook server cert

Provides:
- K8ssandra Operator for multi-cluster support
- Cass Operator for Cassandra cluster management
- Apache Cassandra 3.11.13 cluster named 'cluster' deployed by default
- Possibility to enable Medusa backups
- Automated secret creation for connection to Platform MinIO

Configured profiles:
- dev
  - 1 Cassandra node instead of default 3
  - 500Mi JVM heap instead of default 2Gi
  - 10Gi of storage instead of default 20Gi
  - requests only 1Gi of memory instead of default 4Gi

{{ template "chart.valuesSectionHtml" . }}