{{ template "chart.header" . }}

<!-- BRIEF -->
This module deploys the shutdown-addon-operator, that is used to manage the cluster scaledown / up separate from the main addon-operator.
The main resources for this module are deployed under the k8s-platform chart /templates: 

Depends on:
- platform-shutdown namespace needs to exist in the cluster before this module is enabled

Provides:
- platform-shutdown serviceaccount and needed RBAC
- shutdown-operator deployment
- shutdown-operator configmap

{{ template "chart.valuesSectionHtml" . }}