{{ template "chart.header" . }}

This module deploys [Bitnami's Rabbitmq](https://artifacthub.io/packages/helm/bitnami/rabbitmq/15.2.4) chart, providing RabbitMQ version 4.0.5.

[Upstream values.yaml with comments](https://github.com/bitnami/charts/blob/main/bitnami/rabbitmq/values.yaml)

Dependencies:
 - [Vault](../140-vault-platform/)
    - Through [vault-credentials-inject.sh](./hooks/vault-credentials-inject.sh)

{{ template "chart.valuesSectionHtml" . }}