{{ template "chart.header" . }}

This module is responsible for deployment of [Velero](https://cert-manager.io/docs/)

Depends on modules:
- no dependencies

Used helm-charts:
- Velero : v11.1.1
​
{{ template "chart.valuesSectionHtml" . }}
