{{ template "chart.header" . }}

<!-- BRIEF -->
This module provides https://kyverno.io/ policy engine platform service.

Depends on modules:
- no dependencies

Provides:
- Kyverno Helm Deployment, see https://github.com/kyverno/kyverno/blob/main/charts/kyverno/README.md
- Kyverno Policies, see https://github.com/kyverno/kyverno/blob/main/charts/kyverno-policies/README.md

This module is deployed to namespace `kyverno`, not `platform`. This is needed to allow `kyverno` namespace exclusion, see https://kyverno.io/docs/installation/#security-vs-operability
As side effect, this module can't be automatically deleted by addon-operator, so manual "helm unistall" will be needed in order to uninstall it.


Customizations:
- 'webhooksCleanup' image is replaced from 'registry.k8s.io/kubectl' to 'platform/platform-k8s-tools-minimal:1.3.3'
- 'test' image is replaced from 'busybox' to 'platform/platform-k8s-tools-minimal:1.3.3'


{{ template "chart.valuesSectionHtml" . }}